USE [master]
GO
/****** Object:  Database [Maintenance_Center]    Script Date: 3/9/2026 3:31:10 PM ******/
CREATE DATABASE [Maintenance_Center]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Maintenance_Center', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Maintenance_Center.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Maintenance_Center_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Maintenance_Center_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Maintenance_Center].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Maintenance_Center]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/9/2026 3:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 3/9/2026 3:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 3/9/2026 3:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 3/9/2026 3:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 3/9/2026 3:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 3/9/2026 3:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 3/9/2026 3:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[DisplayName] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[WorkshopId] [int] NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 3/9/2026 3:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceRequests]    Script Date: 3/9/2026 3:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrackingCode] [nvarchar](max) NOT NULL,
	[DeviceName] [nvarchar](max) NOT NULL,
	[FaultDescription] [nvarchar](max) NOT NULL,
	[ClientEntityName] [nvarchar](max) NOT NULL,
	[DelivererName] [nvarchar](max) NOT NULL,
	[DelivererPhone] [nvarchar](max) NOT NULL,
	[DeviceCondition] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[TechnicalReport] [nvarchar](max) NULL,
	[TotalCost] [decimal](18, 2) NOT NULL,
	[ReceptionistId] [nvarchar](450) NULL,
	[WorkshopId] [int] NULL,
	[TechnicianId] [nvarchar](450) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedById] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedById] [nvarchar](max) NULL,
 CONSTRAINT [PK_MaintenanceRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceServices]    Script Date: 3/9/2026 3:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceServices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CurrentCost] [decimal](18, 2) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedById] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedById] [nvarchar](max) NULL,
 CONSTRAINT [PK_MaintenanceServices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentReceipts]    Script Date: 3/9/2026 3:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentReceipts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaintenanceRequestId] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[AdminNotes] [nvarchar](max) NULL,
	[VerifiedById] [nvarchar](max) NULL,
	[VerifiedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedById] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedById] [nvarchar](max) NULL,
 CONSTRAINT [PK_PaymentReceipts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestService]    Script Date: 3/9/2026 3:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestService](
	[MaintenanceRequestId] [int] NOT NULL,
	[MaintenanceServiceId] [int] NOT NULL,
	[PriceSnapshot] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_RequestService] PRIMARY KEY CLUSTERED 
(
	[MaintenanceRequestId] ASC,
	[MaintenanceServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestSparePart]    Script Date: 3/9/2026 3:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestSparePart](
	[MaintenanceRequestId] [int] NOT NULL,
	[SparePartId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPriceSnapshot] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_RequestSparePart] PRIMARY KEY CLUSTERED 
(
	[MaintenanceRequestId] ASC,
	[SparePartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpareParts]    Script Date: 3/9/2026 3:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpareParts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CurrentCost] [decimal](18, 2) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedById] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedById] [nvarchar](max) NULL,
 CONSTRAINT [PK_SpareParts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workshops]    Script Date: 3/9/2026 3:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workshops](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedById] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedById] [nvarchar](max) NULL,
 CONSTRAINT [PK_Workshops] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260224195731_InitialCreate', N'9.0.13')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'61893b27-5809-4582-b65b-60a101c49807', N'Technician', N'TECHNICIAN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'7b2d7d06-89e0-445c-9688-4ea718c33091', N'Admin', N'ADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'a0a633bf-d0b5-42db-9a8e-a746a0241c90', N'Receptionist', N'RECEPTIONIST', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'991aee13-90ee-4820-ba16-f1bf6b41f6fa', N'61893b27-5809-4582-b65b-60a101c49807')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'9a8b6dbf-0f1c-4c14-ae6f-4911ae882fe9', N'61893b27-5809-4582-b65b-60a101c49807')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'337380e4-5294-43d5-b487-19f8a108694b', N'7b2d7d06-89e0-445c-9688-4ea718c33091')
GO
SET IDENTITY_INSERT [dbo].[MaintenanceRequests] ON 

SET IDENTITY_INSERT [dbo].[MaintenanceRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[MaintenanceServices] ON 

INSERT [dbo].[MaintenanceServices] ([Id], [Name], [CurrentCost], [IsDeleted], [CreatedAt], [CreatedById], [UpdatedAt], [UpdatedById]) VALUES (1, N'magnatic Transistor', CAST(10020.00 AS Decimal(18, 2)), 1, CAST(N'2026-03-05T07:20:19.8235648' AS DateTime2), N'dd8ed741-8d0d-4551-a106-bb8b2ec9f382', CAST(N'2026-03-05T07:24:20.8133544' AS DateTime2), N'dd8ed741-8d0d-4551-a106-bb8b2ec9f382')
INSERT [dbo].[MaintenanceServices] ([Id], [Name], [CurrentCost], [IsDeleted], [CreatedAt], [CreatedById], [UpdatedAt], [UpdatedById]) VALUES (2, N'تنضيف', CAST(100.00 AS Decimal(18, 2)), 0, CAST(N'2026-03-05T07:24:43.1655008' AS DateTime2), N'dd8ed741-8d0d-4551-a106-bb8b2ec9f382', NULL, NULL)
INSERT [dbo].[MaintenanceServices] ([Id], [Name], [CurrentCost], [IsDeleted], [CreatedAt], [CreatedById], [UpdatedAt], [UpdatedById]) VALUES (3, N'تلميع', CAST(80.00 AS Decimal(18, 2)), 0, CAST(N'2026-03-05T07:24:53.6569718' AS DateTime2), N'dd8ed741-8d0d-4551-a106-bb8b2ec9f382', NULL, NULL)
SET IDENTITY_INSERT [dbo].[MaintenanceServices] OFF
GO
INSERT [dbo].[RequestService] ([MaintenanceRequestId], [MaintenanceServiceId], [PriceSnapshot]) VALUES (5, 3, CAST(80.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[RequestSparePart] ([MaintenanceRequestId], [SparePartId], [Quantity], [UnitPriceSnapshot]) VALUES (5, 3, 1, CAST(1500.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[SpareParts] ON 

INSERT [dbo].[SpareParts] ([Id], [Name], [CurrentCost], [IsDeleted], [CreatedAt], [CreatedById], [UpdatedAt], [UpdatedById]) VALUES (1, N'Transistor', CAST(100.00 AS Decimal(18, 2)), 0, CAST(N'2026-03-02T23:59:18.5941262' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[SpareParts] ([Id], [Name], [CurrentCost], [IsDeleted], [CreatedAt], [CreatedById], [UpdatedAt], [UpdatedById]) VALUES (2, N'Screen led', CAST(1000.00 AS Decimal(18, 2)), 0, CAST(N'2026-03-04T22:24:12.4954145' AS DateTime2), N'dd8ed741-8d0d-4551-a106-bb8b2ec9f382', NULL, NULL)
INSERT [dbo].[SpareParts] ([Id], [Name], [CurrentCost], [IsDeleted], [CreatedAt], [CreatedById], [UpdatedAt], [UpdatedById]) VALUES (3, N'Motherboard', CAST(1500.00 AS Decimal(18, 2)), 0, CAST(N'2026-03-07T20:06:15.0029110' AS DateTime2), N'dd8ed741-8d0d-4551-a106-bb8b2ec9f382', CAST(N'2026-03-07T20:06:25.4187232' AS DateTime2), N'dd8ed741-8d0d-4551-a106-bb8b2ec9f382')
SET IDENTITY_INSERT [dbo].[SpareParts] OFF
GO
SET IDENTITY_INSERT [dbo].[Workshops] ON 

INSERT [dbo].[Workshops] ([Id], [Name], [Description], [IsDeleted], [CreatedAt], [CreatedById], [UpdatedAt], [UpdatedById]) VALUES (1, N'Fixing', N'Manga', 0, CAST(N'2026-03-03T07:55:07.6786265' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Workshops] ([Id], [Name], [Description], [IsDeleted], [CreatedAt], [CreatedById], [UpdatedAt], [UpdatedById]) VALUES (2, N'Repairing', N'manga manga', 0, CAST(N'2026-03-04T22:25:40.2406231' AS DateTime2), N'dd8ed741-8d0d-4551-a106-bb8b2ec9f382', NULL, NULL)
INSERT [dbo].[Workshops] ([Id], [Name], [Description], [IsDeleted], [CreatedAt], [CreatedById], [UpdatedAt], [UpdatedById]) VALUES (3, N'Screen monitorting', N'', 0, CAST(N'2026-03-05T07:17:14.8163744' AS DateTime2), N'dd8ed741-8d0d-4551-a106-bb8b2ec9f382', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Workshops] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 3/9/2026 3:31:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 3/9/2026 3:31:12 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 3/9/2026 3:31:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 3/9/2026 3:31:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 3/9/2026 3:31:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 3/9/2026 3:31:12 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUsers_WorkshopId]    Script Date: 3/9/2026 3:31:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUsers_WorkshopId] ON [dbo].[AspNetUsers]
(
	[WorkshopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 3/9/2026 3:31:12 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaintenanceRequests_ReceptionistId]    Script Date: 3/9/2026 3:31:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceRequests_ReceptionistId] ON [dbo].[MaintenanceRequests]
(
	[ReceptionistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaintenanceRequests_TechnicianId]    Script Date: 3/9/2026 3:31:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceRequests_TechnicianId] ON [dbo].[MaintenanceRequests]
(
	[TechnicianId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaintenanceRequests_WorkshopId]    Script Date: 3/9/2026 3:31:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceRequests_WorkshopId] ON [dbo].[MaintenanceRequests]
(
	[WorkshopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentReceipts_MaintenanceRequestId]    Script Date: 3/9/2026 3:31:12 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PaymentReceipts_MaintenanceRequestId] ON [dbo].[PaymentReceipts]
(
	[MaintenanceRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RequestService_MaintenanceServiceId]    Script Date: 3/9/2026 3:31:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_RequestService_MaintenanceServiceId] ON [dbo].[RequestService]
(
	[MaintenanceServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RequestSparePart_SparePartId]    Script Date: 3/9/2026 3:31:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_RequestSparePart_SparePartId] ON [dbo].[RequestSparePart]
(
	[SparePartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Workshops_WorkshopId] FOREIGN KEY([WorkshopId])
REFERENCES [dbo].[Workshops] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Workshops_WorkshopId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[MaintenanceRequests]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRequests_AspNetUsers_ReceptionistId] FOREIGN KEY([ReceptionistId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[MaintenanceRequests] CHECK CONSTRAINT [FK_MaintenanceRequests_AspNetUsers_ReceptionistId]
GO
ALTER TABLE [dbo].[MaintenanceRequests]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRequests_AspNetUsers_TechnicianId] FOREIGN KEY([TechnicianId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[MaintenanceRequests] CHECK CONSTRAINT [FK_MaintenanceRequests_AspNetUsers_TechnicianId]
GO
ALTER TABLE [dbo].[MaintenanceRequests]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRequests_Workshops_WorkshopId] FOREIGN KEY([WorkshopId])
REFERENCES [dbo].[Workshops] ([Id])
GO
ALTER TABLE [dbo].[MaintenanceRequests] CHECK CONSTRAINT [FK_MaintenanceRequests_Workshops_WorkshopId]
GO
ALTER TABLE [dbo].[PaymentReceipts]  WITH CHECK ADD  CONSTRAINT [FK_PaymentReceipts_MaintenanceRequests_MaintenanceRequestId] FOREIGN KEY([MaintenanceRequestId])
REFERENCES [dbo].[MaintenanceRequests] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaymentReceipts] CHECK CONSTRAINT [FK_PaymentReceipts_MaintenanceRequests_MaintenanceRequestId]
GO
ALTER TABLE [dbo].[RequestService]  WITH CHECK ADD  CONSTRAINT [FK_RequestService_MaintenanceRequests_MaintenanceRequestId] FOREIGN KEY([MaintenanceRequestId])
REFERENCES [dbo].[MaintenanceRequests] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequestService] CHECK CONSTRAINT [FK_RequestService_MaintenanceRequests_MaintenanceRequestId]
GO
ALTER TABLE [dbo].[RequestService]  WITH CHECK ADD  CONSTRAINT [FK_RequestService_MaintenanceServices_MaintenanceServiceId] FOREIGN KEY([MaintenanceServiceId])
REFERENCES [dbo].[MaintenanceServices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequestService] CHECK CONSTRAINT [FK_RequestService_MaintenanceServices_MaintenanceServiceId]
GO
ALTER TABLE [dbo].[RequestSparePart]  WITH CHECK ADD  CONSTRAINT [FK_RequestSparePart_MaintenanceRequests_MaintenanceRequestId] FOREIGN KEY([MaintenanceRequestId])
REFERENCES [dbo].[MaintenanceRequests] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequestSparePart] CHECK CONSTRAINT [FK_RequestSparePart_MaintenanceRequests_MaintenanceRequestId]
GO
ALTER TABLE [dbo].[RequestSparePart]  WITH CHECK ADD  CONSTRAINT [FK_RequestSparePart_SpareParts_SparePartId] FOREIGN KEY([SparePartId])
REFERENCES [dbo].[SpareParts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequestSparePart] CHECK CONSTRAINT [FK_RequestSparePart_SpareParts_SparePartId]
GO
USE [master]
GO
